:root{
/* general colors */
--general-color: #757575;

--active-link-color:#2196F3;

--header-logo-color:#000000;
--footer-logo-color: #FFFFFF;
--footer-background-color: #2F303A;
--logo-web-color:#2196F3;


--header-contacts-color: #757575;
--footer-contacts-active-color:#FFFFFF;
--footer-contacts-color:rgba(255, 255, 255, 0.6);

/* index colors */
--hero-background-color: #2F303A;
--hero-title-color: #FFFFFF;
--hero-button-background-color: #2196F3;
--hero-button-background-color-active: #188CE8;
--hero-button-color: #FFFFFF;
--our-team-cards-background-color: #FFFFFF;
--our-team-section-background-color:#F5F4FA;
--title-color: #212121;


/* portfolio colors */
--filter-button-background-color: #F5F4FA;
--filter-button-background-active-color: #2196F3;
--filter-buttons-active-color: #FFFFFF;

--project-cards-background-color: #FFFFFF;





}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--general-color);
}



/* ===== SOME ITEMS ===== */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
}

.web {
    color: var(--logo-web-color);
}













/* =========================================== GENERAL =========================================== */

/* ===== HEADER ===== */

.header-logo {
    color: var(--header-logo-color);
}



.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.nav-list-item-link {
    color: var(--title-color);
}

.header-contacts-list-item-link {
    color: var(--header-contacts-color);
}

.chosen {
    color: var(--active-link-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--active-link-color);
}


/* ===== FOOTER ===== */
footer {
    background-color: var(--footer-background-color);
}

.footer-logo {
    color: var(--footer-logo-color);
}

.contacts {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color)
}

.mail-contact{
    color:var(--footer-contacts-active-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--footer-contacts-active-color);
}



/* =========================================== INDEX =========================================== */




/* ===== HERO ===== */
.hero{
    background-color: var(--hero-background-color);
}

.hero .hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--hero-title-color);
}

.hero .form-button{
    background-color: var(--hero-button-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--hero-button-color);
    cursor: pointer;

}

.hero .form-button:focus,
.hero .form-button:hover{
    background-color: var(--hero-button-background-color-active) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}




/* ===== FEATURES ===== */

.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features .description{
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}




/* ===== WHAT WE DO $ OUR TEAM===== */

.title { /* for "what we do" & "our team" */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.our-team{
    background-color: var(--our-team-section-background-color);
}

.our-team-list-item{
    background-color: var(--our-team-cards-background-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list-item .our-team-text{
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
}


.our-team-list-item .our-team-title {
    color: var(--title-color);
    font-weight: 500;
}



/* =========================================== PORTFOLIO =========================================== */

/* ===== BUTTON ===== */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--filter-button-background-color);
    border-radius: 4px;
    border: none;
    color: var(--title-color);
    cursor: pointer;
}

.filter-button:focus,
.filter-button:hover {
    background-color: var(--filter-button-background-active-color);
    color: var(--filter-buttons-active-color) ;
}

/* ===== PROJECTS ===== */

.project-list-item{
    width: 370px;
    height: 404px;
    background: var(--project-cards-background-color);
    border: 1px solid #EEEEEE;
}

.project-list-item .project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.project-list-item .description{
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.03em;
}

.project-link .description{
    color: var(--general-color);
}





